<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About</title>
<style type="text/css">
</style>
</head>
<body>
	<section class="bg-image vh-100">
		<div class="container py-5 h-100 ">
			<div class="row ">
				<div class="col-md-8 offset-md-2">
						<div class="text-center mt-3  my-success-card">
							<h1 class="font-weight-bold mt-4" style="font-family: Rockwell">Registeration
								Successful !!</h1>
							<a th:href="@{/}"><button type="button"
									class="btn btn-success">Go to Home</button></a>
							<a href="" th:href="@{/signin}"><button type="button" class="btn btn-primary">Login Now
								:)</button></a>
						</div>
				</div>

			</div>

		</div>

	</section>
</body>
</html>